<div class="container-about">
    <div class="bg-shop"></div>
    <div class="container">
        <div class="about">

            <div class="about-img wd-haft">
                <img src="./images/about-img.jpg" alt="">
            </div>
            <div class="about-conten wd-haft">
                <span>welcome to our products</span>
                <h3>Cake-A-Licious products</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore farhan aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    farhan aliqua. Ut enim ad minim veniam, quis</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>
    </div>
</div>