<div class="container-about" ng-controller="aboutCtrl">
    <div class="bg-shop"></div>
    <div class="container">
        <div class="about">
            <div class="about-img wd-haft">
                <img src="./images/about-img.jpg" alt="">
            </div>
            <div class=" wd-haft" style="font-size:large; padding: 10px;">
                <div class="read-more-container"></div>
                <input type="checkbox" id="check">
                <span>welcome to our products</span>
                <h1>-- About Us --</h1>
                <p>All of our cakes and treats are made fresh from scratch with every order. Nothing is ever frozen and
                    we use all natural ingredients. Great care is taken with each and every order, and decorated to
                    impress.</p>
                <div class="showtext">
                    <p> We strive to set new trends and are constantly inspired by our customer's creativity! Combining
                        our
                        good ol' fashioned scratch baking with fresh ideas push us into creative unchartered cake
                        decorating
                        territory. </p>
                    <p> We promise to leave you satisfied and full of happiness with every bite!</p>
                </div>
                <label class="btn" for="check">Read More</label>
            </div>
        </div>
        <div>
            heelllo
        </div>

        <div class="about">
            <div class=" wd-haft" style="font-size:large; padding: 10px;">
                <div class="read-more-container"></div>
                <input type="checkbox" id="check1">
                <span>welcome to our products</span>
                <h1>-- Our Mission Mission --</h1>
                <p> The mission is to enthusiastically re-invent the way the customers enjoy the collaborative
                    expression of unique, eloquent, and “outside the box” thinking in bakery designs allowing to exceed
                    the customer expectations. </p>
                <div class="showtext">
                    <p> The goal, provide supreme product and customer experience using quality
                        ingredients and new techniques to create a product truly superior in taste and design. Provide
                        appreciation to each guest for the opportunity to serve them and provide happiness and joy
                        through
                        the art of food.</p>
                    <p> We promise to leave you satisfied and full of happiness with every bite!</p>
                </div>
                <label class="btn" for="check1">Read More</label>
            </div>
            <div class="about-img wd-haft">
                <img src="./images/about-img.jpg" alt="">
            </div>
        </div>

        <div class="about">
            <div class="about-img wd-haft">
                <img src="./images/about-img.jpg" alt="">
            </div>
            <div class=" wd-haft" style="font-size:large; padding: 10px;">
                <div class="read-more-container"></div>
                <input type="checkbox" id="check2">
                <span>welcome to our products</span>
                <h1>-- Our Vision Statement --</h1>
                <p> The Little Cake Shop vision is to collaborate with the customers in creating custom, fashionable,
                    unique to them, and one of kind design bakeries for occasions with guarantee satisfaction bringing
                    happiness and excitement to each customer.</p>
                <div class="showtext">
                    <p> Provide the top quality of taste to each individual
                        pieces of art as the customer envisioned. Provide the same vision and communication to customers
                        to
                        exceed the customers expectations. Build a business by engaging in the customer experience,
                        innovation, and customer focus, delivery of results, trusting, inspired, and successfully
                        reaching
                        expectation.</p>
                    <p>Provide for the communities for which the business serves with quality products and
                        give back to what makes communities cohesive. </p>
                </div>
                <label class="btn" for="check2">Read More</label>
            </div>
        </div>




    </div>
</div>