<div ng-controller="homeCtrl">
    <!-- body -->
    <!-- carousel -->
    <div class="carousel">

        <div class="container">
            <div class="slides-container">
                <div class="fade show">
                    <div class="slide">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="./images/home-img-1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="fade">
                    <div class="slide ">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="./images/home-img-1.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="fade">
                    <div class="slide ">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="./images/home-img-2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="fade">
                    <div class="slide">
                        <div class="content">
                            <span>Have a Cake-A-Licious</span>
                            <h3>up to 50% off</h3>
                            <a href="#" class="btn">Shop Now</a>
                        </div>
                        <div class="img">
                            <img decoding="async" src="./images/home-img-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="next-slide" class="fas fa-angle-right" ng-click="next()"></div>
        <div id="prev-slide" class="fas fa-angle-left" ng-click="prev()"></div>

    </div>
    <!-- banner -->
    <div class="container">
        <div class="container-banner">

            <div class="banner wd-thir">
                <img class="banner-img" src="./images/banner-1.jpg" alt="">
                <div class="banner-content">
                    <span>limited sales</span>
                    <h3>upto 50% off</h3>
                    <a href="#" class="btn">shop now</a>
                </div>
            </div>
            <div class="banner wd-thir">
                <img class="banner-img" src="./images/banner-2.jpg" alt="">
                <div class="banner-content">
                    <span>limited sales</span>
                    <h3>upto 50% off</h3>
                    <a href="#" class="btn">shop now</a>
                </div>
            </div>
            <div class="banner wd-thir">
                <img class="banner-img" src="./images/banner-3.jpg" alt="">
                <div class="banner-content">
                    <span>limited sales</span>
                    <h3>upto 50% off</h3>
                    <a href="#" class="btn">shop now</a>
                </div>
            </div>
        </div>
    </div>
    <!-- our Shop -->
    <div class="head-bg">
        <h2 class="bd-ourShop__head
    ">Our Shop</h2>
    </div>
    <!-- our category  -->
    <div class="container">
        <div class="container-category">
            <div class="head">
                <h1> Our <span class="span-text"> Category</span></h1>
                <span class="view-all">View All >></span>
            </div>
            <div class="category-content">
                <div class="box-category wd-five">
                    <img src="./images/cat-1.jpg" alt="">
                    <h3>Fresh Cupcake</h3>
                </div>
                <div class="box-category wd-five">
                    <img src="./images/cat-2.jpg" alt="">
                    <h3>Fresh Cupcake</h3>
                </div>
                <div class="box-category wd-five">
                    <img src="./images/cat-3.jpg" alt="">
                    <h3>Fresh Cupcake</h3>
                </div>
                <div class="box-category wd-five">
                    <img src="./images/cat-4.jpg" alt="">
                    <h3>Fresh Cupcake</h3>
                </div>
                <div class="box-category wd-five">
                    <img src="./images/cat-5.jpg" alt="">
                    <h3 class="box-head">Fresh Cupcake</h3>
                </div>
            </div>
        </div>
    </div>

    <!-- our products -->
    <div class="container">
        <div class="container-product">
            <div class="head">
                <h1> Our<span class="span-text"> Products</span> </h1>
                <span class="view-all">View All >></span>
            </div>
            <div class="product-content">
                <div class=" box-product wd-for" ng-repeat=" item in data | filter:{'title':'Anniversary'} ">
                    <div class=" product-icon">
                        <div class="box-icon">
                            <a href="" class="icon-link"> <i class="fa-solid fa-heart "></i></a>
                            <a href="" class="icon-link"> <i class="fa-solid fa-cart-shopping "></i></a>
                            <a href="" class="icon-link"> <i class="fa-solid fa-eye "></i></a>
                        </div>
                    </div>
                    <ol class="box-list">
                        <li class="box-item"> <img src={{item.image}} alt="">
                        </li>
                        <li class="box-item">
                            <h3>{{item.name}}</h3>
                        </li>
                        <li class="box-item">
                            <span>{{item.type}}</span>
                        </li>

                        <li class="box-item"><span>$ {{item.price}}</span></li>
                        <li class="box-item">
                            <ul class="list-icon">
                                <li class="item-icon"><i class="fa-solid fa-star"></i></li>
                                <li class="item-icon"><i class="fa-solid fa-star"></i></li>
                                <li class="item-icon"><i class="fa-solid fa-star"></i></li>
                                <li class="item-icon"><i class="fa-solid fa-star"></i></li>
                                <li class="item-icon"><i class="fa-solid fa-star"></i></li>
                            </ul>
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </div>
    <!-- About us -->
    <div class="head-bg">
        <h2 class="bd-ourShop__head
    ">About Us</h2>
    </div>
    <div class="container">
        <div class="about">

            <div class="about-img wd-haft">
                <img src="./images/about-img.jpg" alt="">
            </div>
            <div class="about-conten wd-haft">
                <span>welcome to our products</span>
                <h3>Cake-A-Licious products</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore farhan aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    farhan aliqua. Ut enim ad minim veniam, quis</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>
    </div>

    <!-- our gallery -->
    <div class="container">
        <div class="container-gallery">
            <div class="head">
                <h1> Our <span class="span-text"> Gallsery</span> </h1>
                <span class="view-all">View All >></span>
            </div>
            <div class="gallsery-conten">
                <div class=" wd-thir mg-t-b " ng-repeat="item in  data | filter :{'title':'gallsery'} ">
                    <div class="gallsery-box">
                        <div class="gallsery-box__icon">
                            <a href="" class="box__icon-link"> <i class="fa-solid fa-heart "></i></a>
                            <a href="" class="box__icon-link"> <i class="fa-solid fa-cart-shopping "></i></a>
                            <a href="" class="box__icon-link"> <i class="fa-solid fa-eye "></i></a>
                        </div>
                        <div class="gallsery-box__img">
                            <img class="box__img" src={{item.image}} alt="">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- clients Review -->
    <div class="head-bg">
        <h2 class="bd-ourShop__head
    ">Client's Review</h2>
    </div>
    <div class="container">
        <div class="container-client">

            <div class="wd-thir mg-t-b">
                <div class="box-cilent">
                    <div class="client-img">
                        <img src="./images/icons-1.png" alt="">
                    </div>
                    <div class="client-content">
                        <span>Fast Delivery</span>
                        <p>Within 30 Minutes</p>
                    </div>
                </div>
            </div>
            <div class="wd-thir mg-t-b">
                <div class="box-cilent">
                    <div class="client-img">
                        <img src="./images/icons-2.png" alt="">
                    </div>
                    <div class="client-content">
                        <span>24 / 7 Available</span>
                        <p>Call Us Anytime</p>
                    </div>
                </div>
            </div>
            <div class="wd-thir mg-t-b">
                <div class="box-cilent">
                    <div class="client-img">
                        <img src="./images/icons-3.png" alt="">
                    </div>
                    <div class="client-content">
                        <span>Easy Payments</span>
                        <p>Cash Or Credit</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Person cilent  -->
        <div class="container-preson">
            <div class="wd-thir mg-t-b">
                <div class="box-person">
                    <div class="box-person__head">
                        <div class="box-avata">
                            <img src="./images/pic-1.png" alt="">
                        </div>
                        <div class="box-heading">
                            <h3>Edward Bey</h3>
                            <p>Happ cilent</p>

                        </div>
                    </div>
                    <div class="box-person-content">
                        <p>Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam, quis</p>
                    </div>
                </div>
            </div>
            <div class="wd-thir mg-t-b">
                <div class="box-person">
                    <div class="box-person__head">
                        <div class="box-avata">
                            <img src="./images/pic-2.png" alt="">
                        </div>
                        <div class="box-heading">
                            <h3>Edward Bey</h3>
                            <p>Happ cilent</p>

                        </div>
                    </div>
                    <div class="box-person-content">
                        <p>Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam, quis</p>
                    </div>
                </div>
            </div>
            <div class="wd-thir mg-t-b">
                <div class="box-person">
                    <div class="box-person__head">
                        <div class="box-avata">
                            <img src="./images/pic-3.png" alt="">
                        </div>
                        <div class="box-heading">
                            <h3>Edward Bey</h3>
                            <p>Happ cilent</p>

                        </div>
                    </div>
                    <div class="box-person-content">
                        <p>Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam, quis</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- our blogs -->
    <div class="head-bg">
        <h2 class="bd-ourShop__head
    ">Our blogs</h2>
    </div>
    <div class="container">
        <div class="container-blogs">
            <div class="head">
                <h1> Our <span class="span-text"> Blogs</span></h1>
                <span class="view-all">View All >></span>
            </div>
            <div class="container-box-blogs">
                <div class="wd-thir">

                    <div class="box-blog">
                        <div class="box-header">
                            <img class="box-header__img" decoding="async" src="./images/blog-1.jpg" alt="">
                        </div>
                        <div class="box-content">
                            <div class=" box-content__icon">
                                <a href="#"> <i class="fsa fa-calendar"></i> 12 jan, 2022 </a>
                                <a href="#"> <i class="fsa fa-user"></i> by administrator </a>
                            </div>
                            <h3>blogs title page</h3>
                            <p>Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam, quis</p>
                            <a href="#" class="btn">read more...</a>
                        </div>
                    </div>
                </div>
                <div class="wd-thir">

                    <div class="box-blog">
                        <div class="box-header">
                            <img class="box-header__img" decoding="async" src="./images/blog-2.jpg" alt="">
                        </div>
                        <div class="box-content">
                            <div class=" box-content__icon">
                                <a href="#"> <i class="fsa fa-calendar"></i> 12 jan, 2022 </a>
                                <a href="#"> <i class="fsa fa-user"></i> by administrator </a>
                            </div>
                            <h3>blogs title page</h3>
                            <p>Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam, quis</p>
                            <a href="#" class="btn">read more...</a>
                        </div>
                    </div>
                </div>
                <div class="wd-thir">

                    <div class="box-blog">
                        <div class="box-header">
                            <img class="box-header__img" decoding="async" src="./images/blog-3.jpg" alt="">
                        </div>
                        <div class="box-content">
                            <div class=" box-content__icon">
                                <a href="#"> <i class="fsa fa-calendar"></i> 12 jan, 2022 </a>
                                <a href="#"> <i class="fsa fa-user"></i> by administrator </a>
                            </div>
                            <h3>blogs title page</h3>
                            <p>Lorem ipsum dolor sit amet, farhan aliqua. Ut enim ad minim veniam, quis</p>
                            <a href="#" class="btn">read more...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- contact  -->
    <div class="head-bg">
        <h2 class="bd-ourShop__head
    ">Contact</h2>
    </div>
    <div class="container">
        <div class="container-box__address">
            <div class="wd-thir">
                <div class="box-address">
                    <ol class="box-address-list">
                        <li class="box-address__item"><a href="" class="box-address-link"><i
                                    class="fa-solid fa-phone"></i></a></li>
                        <li class="box-address__item">
                            <h2>Our Number</h2>
                        </li>
                        <li class="box-address__item"><a href="" class="box-address-link">+111 222-3333</a></li>
                        <li class="box-address__item"><a href="" class="box-address-link"> +456 786-7890</a></li>
                    </ol>
                </div>
            </div>
            <div class="wd-thir">
                <div class="box-address">
                    <ol class="box-address-list">
                        <li class="box-address__item"><a href="" class="box-address-link"><i
                                    class="fa-solid fa-envelope"></i></a></li>
                        <li class="box-address__item">
                            <h2>Our Email</h2>
                        </li>
                        <li class="box-address__item"><a href="" class="box-address-link">shaikhfarhan@gmail.com</a>
                        </li>
                        <li class="box-address__item"><a href="" class="box-address-link"> xyzemail@gmail.com</a>
                        </li>
                    </ol>
                </div>
            </div>
            <div class="wd-thir">
                <div class="box-address">
                    <ol class="box-address-list">
                        <li class="box-address__item"><a href="" class="box-address-link"><i
                                    class="fa-sharp fa-solid fa-location-dot"></i></a></li>
                        <li class="box-address__item">
                            <h2>Our Address</h2>
                        </li>
                        <li class="box-address__item"><a href="" class="box-address-link">mumbai, india - 401203</a>
                        </li>

                    </ol>
                </div>
            </div>

        </div>
        <div class="container-register">
            <div class="wd-haft">
                <div class="box-touch sadow">
                    <form name="touch">
                        <h3>Get in Touch</h3>
                        <div class="info">
                            <input type="text" class="info-name wd-haft" placeholder="Enter your name" />
                            <input type="email" class="info-email wd-haft" placeholder="Enter your email" />
                        </div>
                        <div class="info">
                            <input type="text" class="info-number wd-haft" placeholder="Enter your number" />
                            <input type="email" class="info-subject wd-haft" placeholder="Enter your  subject" />
                        </div>
                        <div class="info">
                            <textarea name="message" id="message" cols="30" rows="10"></textarea>
                        </div>
                        <a type="submit" class="btn">Send message</a>
                    </form>
                </div>
            </div>
            <div class="wd-haft">
                <div class="box-map">
                    <iframe class="map"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d462560.3011806427!2d54.947543798608436!3d25.076381472700536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5f43496ad9c645%3A0xbde66e5084295162!2sDubai%20-%20United%20Arab%20Emirates!5e0!3m2!1sen!2sin!4v1642496355732!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>

        </div>
    </div>
</div>