<div class="container-shop" ng-controller="shopCtrl">
    <div class="bg-shop"></div>
    <div class="container">
        <div class="container-shop__conten">

            <div class="wd-for">
                <div class="container-sidebar">

                    <div class="search">
                        <div class="box-map">
                            <iframe class="map"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15677.277428229037!2d106.64782024265908!3d10.786834253624187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752ed2392c44df%3A0xd2ecb62e0d050fe9!2sFPT-Aptech%20Computer%20Education%20HCM!5e0!3m2!1sen!2sin!4v1687748371132!5m2!1sen!2sin"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                        </div>

                        <ul class="list-search">
                            <li class="item-search bd-bottom"><span class="span-title"> All product</span> <br><a
                                    class="product-link_all">All Product</a></li>
                            <li class="item-search"><span class="span-title"> Price product</span>
                                <input type="range" min="0" max="100" oninput="rangevalue.value=value +'$'" />
                                <output id="rangevalue">50$</output>
                            </li>
                            <li class="item-search ">
                                <span class="span-title">Type product</span>
                                <ul class="product-list__type">
                                    <li class="product-item__type"><a class="product-link__type" data-set="birthday"
                                            ng-model="type" ng-click="orderFilter(birthday)">Birthday</a>
                                    </li>
                                    <li class="product-item__type"><a class="product-link__type" data-set="Marriage"
                                            ng-model="type">Marriagey</a>
                                    </li>
                                    <li class="product-item__type"><a class="product-link__type" data-set="Anniversary"
                                            ng-model="type">Anniversary</a>
                                    </li>
                                    <li class="product-item__type"><a class="product-link__type" data-set="gallsery"
                                            ng-model="type">Gallsery</a>
                                    </li>

                                </ul>
                            </li>
                            <li class="item-search">
                                <span class="span-title">Name product</span>
                                <input type="text" placeholder="search name product" class="search-name">
                            </li>
                            <li class=" item-search">
                                <span class="span-title">Egg</span>
                                <ul class="product-list__type">
                                    <li class="product-item__type"><a href="" class="product-link__type">With Egg</a>
                                    </li>
                                    <li class="product-item__type"><a href="" class="product-link__type">Have Egg </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <div class="box-touch">
                            <form name="touch">
                                <h3>Get in Touch</h3>
                                <div class="info">
                                    <input type="text" class="info-name wd-full" placeholder="Enter your name" />
                                    <input type="email" class="info-email wd-full" placeholder="Enter your email" />
                                </div>
                                <div class="info">

                                    <input type="text" class="info-number wd-full " placeholder="Enter your number" />


                                    <input type="text" class="info-subject  wd-full"
                                        placeholder="Enter your  subject" />

                                </div>
                                <div class="info">
                                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                                </div>
                                <a type="submit" class="btn wd-full">Send message</a>
                            </form>
                        </div>
                    </div>



                </div>
            </div>
            <div class="shop-card wd-76">
                <div class="product-content" ng-model="type">
                    <div class=" box-product wd-thir" ng-repeat=" item in listProduct">
                        <div class=" product-icon">
                            <div class="box-icon">
                                <a href="" class="icon-link"> <i class="fa-solid fa-heart "></i></a>
                                <a href="" class="icon-link"> <i class="fa-solid fa-cart-shopping "></i></a>
                                <a href="#!detail" class="icon-link" ng-click="saveData(item)"> <i
                                        class="fa-solid fa-eye "></i></a>
                            </div>
                        </div>
                        <ol class="box-list">
                            <li class="box-item"> <img src={{item.image}} alt="">
                            </li>
                            <li class="box-item">
                                <h3>{{item.name}}</h3>
                            </li>
                            <li class="box-item">
                                <span>{{item.type}}</span>
                            </li>

                            <li class="box-item"><span>$ {{item.price}}</span></li>
                            <li class="box-item">
                                <ul class="list-icon">
                                    <li class="item-icon"><i class="fa-solid fa-star"></i></li>
                                    <li class="item-icon"><i class="fa-solid fa-star"></i></li>
                                    <li class="item-icon"><i class="fa-solid fa-star"></i></li>
                                    <li class="item-icon"><i class="fa-solid fa-star"></i></li>
                                    <li class="item-icon"><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </li>
                        </ol>
                    </div>

                </div>
            </div>
        </div>
        <div class="numberbar">

            <a class="btn" ng-click="prewPage()" id="prew-page"><i class="fa-solid fa-chevron-left"></i></a>
            <a class="btn" ng-click="changePage(1)">1</a>
            <a class="btn" ng-click="changePage(2)">2</a>
            <a class="btn" ng-click="changePage(3)">3</a>

            <a class="btn" id="next-page" ng-click="nextPage()"><i class="fa-solid fa-chevron-right"></i> </a>
        </div>
    </div>

</div>